*{
    font-family: 'Courier New', Courier, monospace;
}
#wrapper{
    margin: 0% 10%;
}
#nav{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    align-items: center;
    margin: 0% 14%;
    background-color: rgb(190, 191, 193);
    padding: 1%;
}
.main{
    display: flex;
    justify-content: center;
}
.left{
    margin: 2%;
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right{
    display: flex;
    border: black solid 2px;  
    border-radius: 1%;
    margin: 2% 0%;
    padding: 2%;
    height: 130px;
    flex-direction: column;
    width: 15%;
}
.ninja1{
    border: black solid 2px;
    border-radius: 1%;
    margin-bottom:5% ;
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content1{
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 30%;
}
.ninja2{
    border: black solid 2px;
    border-radius: 1%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content2{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
input{
    width: 40%;
    border: 2px solid black;
    border-radius: 1%;
}
#nav button{
    background-color: rgb(24, 144, 243);
    box-shadow: 2px 2px black;
}
.left button{
    background-color: rgb(236, 199, 79);
    box-shadow: 2px 2px black;
    padding: 5%;
    width: fit-content;
}
.right button{
    background-color: rgb(85, 196, 90);
    box-shadow: 2px 2px black;
    height: 25%; 
}
button{
    font-weight: bold;
}
.content1 p{
    display: flex;
    margin-top:-10px ;
    margin-right: 10px;
}
.content2 p{
    display: flex;
    margin-top:-10px ;
    margin-right: 10px;
}